<nav class="aui-header" role="navigation">
    <div class="aui-header-primary">
        <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
            <a href="https://example.com/">
                <a href="https://example.com/">Caremeet</a>
            </a>
        </h1>
    </div>

    <div class="aui-header-secondary">
        <ul class="aui-nav" resolved="">
            <li>
                <form class="aui-quicksearch" method="post" action="/foo">
                    <label class="assistive" for="quicksearchid">Search</label>
                    <input type="search" name="quicksearchname" placeholder="Quick Search" class="search"
                           id="quicksearchid">
                </form>
            </li>
            <li><a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true"
                   class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header7"
                   aria-expanded="false" resolved=""><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span></a>


                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer aui-alignment-side-bottom aui-alignment-snap-right"
                     id="dropdown2-header7" data-aui-dropdown2="" resolved="" aria-hidden="true"
                     data-aui-alignment="bottom auto" data-aui-alignment-static="true" style="z-index: auto;">
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="https://example.com/" class="" tabindex="-1">Online help</a></li>
                            <li><a href="https://example.com/" tabindex="-1">Keyboard shortcuts</a></li>
                            <li><a href="https://example.com/" tabindex="-1">About</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true"
                   class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header9"
                   aria-expanded="false" resolved="">
                <div class="aui-avatar aui-avatar-small">
                    <div class="aui-avatar-inner">
                        <img src="/poster?meeting=PV&padding=5">
                    </div>
                </div>
            </a>

                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer" id="dropdown2-header9"
                     data-aui-dropdown2="" resolved="" aria-hidden="true">
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="https://example.com/" class="active">Profile</a></li>
                            <li><a href="https://example.com/">Extensions</a></li>
                        </ul>
                    </div>
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="https://example.com/">Use Agile by default</a></li>
                        </ul>
                    </div>
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="https://example.com/">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
