<!DOCTYPE html>
<html>
<head>
    <title>{{title}} - Caremeet</title>

    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/video.css'/>
    <link rel='stylesheet' href='/stylesheets/flex.css'/>
    <link rel='stylesheet' href='/stylesheets/grid.css'/>
    <link rel="stylesheet" href="/stylesheets/aui-prototyping.css">
    <link rel="stylesheet" href="/stylesheets/aui-prototyping.nodeps.css">

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/avatar.js"></script>
</head>
<body class="aui-page-focused aui-page-size-large"><!-- For a normal page, omit all 'aui-page-' classes here -->
<div id="page">
    {{> defaultheader}}
    <section id="content" role="main">
        {{{body}}}
    </section>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/aui-prototyping.js"></script>
<script src="/javascripts/aui-prototyping.nodeps.js"></script>
<script src="/javascripts/aui-css-deprecations.js"></script>
</body>
</html>
