<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collaborative Platform</title>
    <link rel="stylesheet" href="/stylesheets/collab/collab_ui.css">
</head>
<body>

<div id="user-list"></div>

<div id="audios-container" style="display: none;"></div>
<div id="videos-container"></div>

<button id="webcam-share">WebCam</button>
<button id="mute-button">mute</button>
<button id="screen-share">screen</button>

<script src="/javascript/collab/jquery.js"></script>
<script src="/javascripts/rtc/socketio.js"></script>
<script src="/javascripts/rtc/adapter.js"></script>
<script src="/javascripts/rtc/rtcConnection.js"></script>
<script src="/javascripts/rtc/hark.js"></script>
<script src="/javascripts/rtc/getHTMLMediaElement.js"></script>
<script src="/javascript/collab/custom.js"></script>

</body>
</html>
